.project {
  width: 100%;
  height: 320px;
  max-width: 480px;
  border-radius: 7px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.project .loaderCover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e1e1eff;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
}

.project .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.project .coverImg {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  object-fit: cover;
}

.project .headerPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  pointer-events: none;
}

.project .header {
  position: absolute;
  width: 100%;
  height: max-content;
  margin: 0;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(3px);
}

.project .header h3 {
  margin: 0;
  color: white;
  font-size: 2rem;
  pointer-events: none;
}

.project .header p {
  margin-top: 5px;
  color: white;
  font-size: 1rem;
  pointer-events: none;
}

.project .footer {
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  color: white;
}

.project .footer .starImg {
  transform: translateY(1px);
}

.project .footer .starCount {
  font-weight: bold;
  margin-left: 5px;
}

.projectLink {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: font-weight 0.2s;
  pointer-events: all;
}

.projectLink:hover {
  font-weight: bold;
}
