.projects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  max-width: 1600px;
}

.projects h3 {
  color: white;
  font-size: 25px;
}

.projectContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
  scale: 0.5;
}
